/* Color Theme Swatches in Hex */
.principal { color: #D9A0BB; }
.background { color: #021859; }
.{ color: #022859; }
.destaque{ color: #D9BFA0; }
.Design-gráfico-5-hex { color: #BF8D7A; } 

html {
background:#021859;






